.LoginPage{ 
    width: 300px;
    padding: 10px;
    margin-top: 200px;
    margin: 10px 10px 10px 10px;
    text-align: left;
    border-radius: 8px;
    float: left;
    color: #000000;
    /*background-color: white; */
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}